# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Flask specific
instance/
*.pyc

# Uploaded files and generated dashboards
uploads/
downloads/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and local config
*.log
*.env

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environment metadata
pip-log.txt


.vscode/